<h1>Operation List</h1>
<p>This lists contains all operations in the hospital</p>

<div class="createNewOpSlotSection" ng-hide="globals.currentUser == null || globals.currentUser.role != 'Hospital'">
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="showfield=true" ng-hide="showfield">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Add new op slot
    </button>

    <form name="opSlot" ng-controller="OpSlotFormController" class="opSlotForm" ng-show="showfield">
        <table class="table table-striped">
            <tr>
                <td>
                    Operation Type<br />
                    <input name="input" ng-model="data.opType" required><br />
                </td>
                <td>
                    Start:
                    <div class="dropdown">
                        <a class="dropdown-toggle my-toggle-select" id="startTime" role="button" data-toggle="dropdown" data-target="#" href="">
                            <div class="input-append"><input type="text" class="input-large" data-ng-model="data.slotStart"><span class="add-on"><i
                                    class="icon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.slotStart"
                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                        </ul>
                    </div>
                </td>
                <td>
                    End:
                    <div class="dropdown">
                        <a class="dropdown-toggle my-toggle-select" id="endTime" role="button" data-toggle="dropdown" data-target="#" href="">
                            <div class="input-append"><input type="text" class="input-large" data-ng-model="data.slotEnd"><span class="add-on"><i
                                    class="icon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.slotEnd"
                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                        </ul>
                    </div>
                </td>

                <td>
                    <br />
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="newOpSlot()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add Op Slot
                    </button>
                </td>

        </table>

    </form>

</div>

<br />

<table class="table table-striped">
    <tr id="descriptionColumn">
        <!-- Necessary workaround for sorted elements: http://stackoverflow.com/questions/19287716/skip-ng-repeat-json-ordering-in-angular-js //-->

        <td>
            <div class="btn-group" ng-class="{open: openType}" data-toggle="dropdown">
                <button class="btn">{{selectedType}}<span ng-hide="selectedType != null">Operation Type</span></button>
                <button class="btn dropdown-toggle" ng-click="openType=!open"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a ng-click="selectedType = null; openType = null"><span class="glyphicon glyphicon-remove-circle"></span>  Uncheck All </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="tmp in oplist | uniq:'type'">
                        <a ng-click="setSelectedType(tmp.type);">{{tmp.type}} &nbsp;<span ng-show="selectedType == tmp.type" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </td>

        <td>
            <div class="btn-group" ng-class="{open: openstartTime}" data-toggle="dropdown">
                <button class="btn">{{selectedstartTime}}<span ng-hide="selectedstartTime != null">StartTime</span></button>
                <button class="btn dropdown-toggle" ng-click="openstartTime=!open"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a ng-click="slotStartFilter = null; openstartTime = null"><span class="glyphicon glyphicon-remove-circle"></span>  Disable Filter </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="startTimeFilter" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append"><input type="text" class="input-large" data-ng-model="slotStartFilter"><span class="add-on"><i
                                        class="icon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="slotStartFilter"
                                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                            </ul>
                        </div>
                    </li>
                    <li><a ng-click="setSelectedStartDate(slotStartFilter)">Apply Filter</a></li>
                </ul>
            </div>
        </td>
        <td>
            <div class="btn-group" ng-class="{open: openendTime2}" data-toggle="dropdown">
                <button class="btn">{{selectedendTime}}<span ng-hide="selectedendTime != null">EndTime</span></button>
                <button class="btn dropdown-toggle" ng-click="openendTime2=!open"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a ng-click="slotEndFilter = null; openendTime2 = null"><span class="glyphicon glyphicon-remove-circle"></span>  Disable Filter </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="endTimeFilter" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append"><input type="text" class="input-large" data-ng-model="slotEndFilter"><span class="add-on"><i
                                        class="icon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="slotEndFilter"
                                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                            </ul>
                        </div>
                    </li>
                    <li><a ng-click="setSelectedEndDate(slotEndFilter)">Apply Filter</a></li>
                </ul>
            </div>
        </td>

        <td>
            <div class="btn-group" ng-class="{open: openDoc}" data-toggle="dropdown">
                <button class="btn">{{selectedDoc}}<span ng-hide="selectedDoc != null">Doctor Name</span></button>
                <button class="btn dropdown-toggle" ng-click="openDoc=!open"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a ng-click="selectedDoc = null; openDoc = null"><span class="glyphicon glyphicon-remove-circle"></span>  Uncheck All </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="tmp in oplist | uniq:'doctorName'">
                        <a ng-click="setSelectedDoc(tmp.doctorName);">{{tmp.doctorName}} &nbsp;<span ng-show="selectedDoc == tmp.doctorName" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </td>

        <td>
            <div class="btn-group" ng-class="{open: openKH}" data-toggle="dropdown">
                <button class="btn">{{selectedKH}}<span ng-hide="selectedKH != null">Hospital Name</span></button>
                <button class="btn dropdown-toggle" ng-click="openKH=!open"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a ng-click="selectedKH = null; openKH = null"><span class="glyphicon glyphicon-remove-circle"></span>  Uncheck All </a>
                    </li>
                    <li class="divider"></li>
                        <li ng-repeat="tmp in oplist | uniq:'hospitalName'">
                            <a ng-click="setSelectedKH(tmp.hospitalName);">{{tmp.hospitalName}} &nbsp;<span ng-show="selectedKH == tmp.hospitalName" class="glyphicon glyphicon-ok"></span></a>
                        </li>
                </ul>
            </div>
        </td>
        <td ng-hide="globals.currentUser == null">Name of Patient</td>
        <td>&nbsp;</td>
    </tr>


    <tr ng-repeat="tmp in oplist | filter: selectedKH | filter: selectedType | filter: selectedStart | orderBy:'slotStart':false" ng-class="{true:'success', false:'danger'}[tmp.freeSlot]">

        <td>{{tmp.type}}</td>
        <td>{{tmp.slotStart}}</td>
        <td>{{tmp.slotEnd}}</td>
        <td>{{tmp.doctorName}} <span ng-hide="globals.currentUser == null">(ID: {{tmp.doctorId}}) </span></td>
        <td>{{tmp.hospitalName}}</td>
        <td ng-hide="globals.currentUser == null">{{tmp.patientName}} (ID: {{tmp.patientId}})</td>
        <td>
                <span ng-show="tmp.freeSlot && globals.currentUser.role[0] == 'Hospital'">
                    <button type="button" class="btn btn-default btn-xs" ng-click="removeOpSlot(tmp.id)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Slot
                    </button>
                </span>
        </td>
    </tr>
</table>
