<h1>OP Slots <span ng-hide="globals.currentUser.role[0] != 'Hospital'">- {{oplist[0].hospitalName}}</span></h1>


<div ng-controller="NewSlotCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Insert new OP Slot</h3>
        </div>


        <form class="modal-body form-group">
            <div class="form-group">
                <label for="data.opType">Typ</label>
                <input class="form-control" id="data.opType" placeholder="Type of operation" ng-model="data.opType">
            </div>
            <div class="form-group">
                <label for="opDate">OP Slot Date</label>

                <div class="input-group" id="opDate">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="newOpStart">Start Time</label>

                    <timepicker ng-model="startingTime" id="newOpStart" ng-change="changed()" hour-step="hstep"
                                minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </div>

                <div class="form-group col-sm-6">
                    <label for="newOpEnd">End Time</label>

                    <timepicker ng-model="endingTime" id="newOpEnd" ng-change="changed()" hour-step="hstep"
                                minute-step="mstep"
                                show-meridian="ismeridian"></timepicker>
                </div>
            </div>
        </form>
        </div>


        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Insert new OP Slot</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()" ng-hide="globals.currentUser == null || globals.currentUser.role != 'Hospital'"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Add new op slot
    </button>
</div>


<br/>
<table class="table table-striped">
    <tr id="descriptionColumn">
        <td>
            <div ng-controller="DatepickerCtrl">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
                           min-date="'2015-05-01'" max-date="'maxDate'" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" ng-change="changed()"/>
                  <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
        </td>
        <td>
            <div ng-controller="StartTimePickerCtrl" class="timePickers">
                <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep"
                            show-meridian="ismeridian" arrowkeys="false"></timepicker>
            </div>
        </td>
        <td>
            <div ng-controller="EndTimePickerCtrl" class="timePickers">
                <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep"
                            show-meridian="ismeridian" arrowkeys="false"></timepicker>
            </div>
        </td>
        <td>
            <!-- Type Selector button -->
            <div class="btn-group" dropdown is-open="status.isopenType">
                <button type="button" class="btn btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{selectedType}}<span ng-hide="selectedType != null">Operation Type </span><span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a ng-click="selectType(null)"><span class="glyphicon glyphicon-remove-circle"></span> Uncheck
                            All </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="tmp in oplist | uniq:'type'">
                        <a ng-click="selectType(tmp.type)">{{tmp.type}} &nbsp;<span ng-show="selectedType == tmp.type"
                                                                                    class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </td>


        <td>
            <!-- Doctor Selector button -->
            <div class="btn-group" dropdown is-open="status.isopenDoctor">
                <button type="button" class="btn btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{selectedDoc}}<span ng-hide="selectedDoc != null">Doctor Name</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-click="selectDoc(null)"><span class="glyphicon glyphicon-remove-circle"></span> Uncheck
                            All </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="tmp in oplist | uniq:'doctorName'">
                        <a ng-click="selectDoc(tmp.doctorName)">{{tmp.doctorName}} &nbsp;<span
                                ng-show="selectedDoc == tmp.doctorName" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </td>

        <td ng-hide="globals.currentUser.role[0] == 'Hospital'">
            <!-- Hospital select button button -->
            <div class="btn-group" dropdown is-open="status.isopenHospital">
                <button type="button" class="btn btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{selectedKH}}<span ng-hide="selectedKH != null">Hospital Name</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-click="selectKH(null)"><span class="glyphicon glyphicon-remove-circle"></span> Uncheck All
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="tmp in oplist | uniq:'hospitalName'">
                        <a ng-click="selectKH(tmp.hospitalName)">{{tmp.hospitalName}} &nbsp;<span
                                ng-show="selectedKH == tmp.hospitalName" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </td>

        <td ng-hide="globals.currentUser == null">
            <!-- Patient select button -->
            <div class="btn-group" dropdown is-open="status.isopenPatient">
                <button type="button" class="btn btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{selectedPatient}}<span ng-hide="selectedPatient != null">Patient Name</span> <span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-click="selectPatient(null)"><span class="glyphicon glyphicon-remove-circle"></span>
                            Uncheck All </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="tmp in oplist | uniq:'patientName'">
                        <a ng-click="selectPatient(tmp.patientName)">{{tmp.patientName}} &nbsp;<span
                                ng-show="selectedPatient == tmp.patientName" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </td>

        <td>&nbsp;</td>
    </tr>


    <tr ng-repeat="tmp in oplist | filter: selectedKH | filter: selectedType | orderBy:'slotStart':false"
        ng-class="{true:'success', false:'danger'}[tmp.freeSlot]">


        <td>{{formatDate(tmp.slotStart,"DD.MM.YYYY")}}</td>
        <td>{{formatDate(tmp.slotStart,"HH:MM")}}</td>
        <td>{{formatDate(tmp.slotEnd,"HH:MM")}}</td>
        <td>{{tmp.type}}</td>
        <td>{{tmp.doctorName}} <span ng-hide="globals.currentUser == null">(ID: {{tmp.doctorId}}) </span></td>
        <td ng-hide="globals.currentUser.role[0] == 'Hospital'">{{tmp.hospitalName}}</td>
        <td ng-hide="globals.currentUser == null">{{tmp.patientName}} (ID: {{tmp.patientId}})</td>
        <td>
                <span ng-show="tmp.freeSlot && globals.currentUser.role[0] == 'Hospital'">
                    <button type="button" class="btn btn-default btn-xs" ng-click="removeOpSlot(tmp.id)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Slot
                    </button>
                </span>
        </td>
    </tr>
</table>


