<div class="col-lg-6 col-lg-offset-3">
<h1>Logout</h1>
<h4>Das Abmelden war erfolgreich</h4>
<br /><br />
<a href="/">
<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück als anonymer Benutzer
</button>
</a>
&nbsp;&nbsp;
<a href="/#/login">
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Als anderer Benutzer anmelden
    </button>
</a>
</div>